.component {
    max-width: 600px;
    max-height: 300px;
    margin: auto;
    margin-top: 10%;
}

.description {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.container {
    display: flex;
    gap: 10px;
}

.container button {
    background-color: rgb(236, 236, 236);
    width: 60px;
    padding: 5px;
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 5px;
    transition: box-shadow 250ms ease-in-out;
}

.container button:hover {
    box-shadow: 1px 1px 3px black;
}

.container input {
    width: 220px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: transparent;
    height: 20px;
    padding: 5px 10px;
    transition: all 250ms ease-in-out;
}

.container input:focus {
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
}

.error {
    display: block;
        padding: 5px;
        background-color: gray;
        border-radius: 5px;
        color: white;
}