.container {
    color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgb(210, 210, 218);
    width: 70px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 5px;
    transition: box-shadow 250ms ease-in-out;
}

.btn:hover {
    box-shadow: 1px 1px 5px black;
}

.listItem {
    display: flex;
    gap: 9px;
}

.listItem:not(:last-child) {
    margin-bottom: 9px;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}